---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
  </url>
{%- for page in collections.pages %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
  </url>
{%- endfor %}
{%- for cat in allCategories %}
  <url>
    <loc>{{ site.url }}/category/{{ cat.path }}/</loc>
  </url>
{%- endfor %}
{%- for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.data.modified | isoDate }}</lastmod>
  </url>
{%- endfor %}
</urlset>
